<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Théo Tavora - Portfólio</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" 
    integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD"
    crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    
</head>
<body>
    <!-- Navegação -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Portfólio - Théo Tavora</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#sobre">Sobre</a></li>
                    <li class="nav-item"><a class="nav-link" href="#habilidades">Habilidades</a></li>
                    <li class="nav-item"><a class="nav-link" href="#projetos">Projetos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#footer">Contato</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://api.whatsapp.com/send?phone=14996897996">Whatsapp</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Hero Section -->
    <section class="hero-section" id="habilidades">
        <div class="presentation-col">
            <h1>Desenvolvimento de App's  &</h1>
            <h1>Websites personalizados,</h1>
            <h1>Experiencie as possibilidades!</h1>
            <h4>
                Eu sou o Théo Tavora, desenvolvedor Full Stack com experiência em Bootstrap (HTML5+CSS3), PHP e Flutter. 
                Além dessas habilidades técnicas, eu sei que sou capaz de transformar o que você imagina pro seu negócio, em algo real!<br />Sei que posso te ajudar a tirar
                aquela ideia do papel...<br />
            </h4>
            <div class="icon">
                <img src="/static/imgs/fluttericon.webp" alt="flutter icon" />
                <img src="/static/imgs/PHP.png" alt="PHP icon" />
                <img src="/static/imgs/bootstrap.png" alt="Bootstrap icon" />
                <img src="/static/imgs/css3icon.png" alt="css3 icon" />
            </div>
        </div>
        <div class="form-col">
            <div class="form-wrapper">
                <h2>Como posso te ajudar hoje!?</h2>
                <form>
                    <div class="form-group">
                        <label for="nome">Seu nome e sobrenome</label>
                        <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>
                    </div>
                    <div class="form-group">
                        <label for="ideia">Conte-me mais sobre o que precisa</label>
                        <textarea id="ideia" name="ideia" placeholder="Deixe aqui como eu posso te fornecer meus serviços!" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="contato">Seu melhor email!</label>
                        <input type="email" id="contato" name="contato" placeholder="Digite seu email" required>
                    </div>
                    <button type="submit">Enviar Ideia</button>
                </form>
            </div>
        </div>
        <div class="custom-shape-divider-bottom-1742269090">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M741,116.23C291,117.43,0,27.57,0,6V120H1200V6C1200,27.93,1186.4,119.83,741,116.23Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>

    <!-- Seção de skill's -->
    <section class="hard-skills py-5">
        <div class="container-fluid text-center">
            <div class="row justify-content-center g-4 d-flex flex-wrap">
                <div class="col-sm d-flex flex-column" id="container-cards">
                    <div class="wrapper-container d-flex flex-column h-100">
                        <div class="wrapper-bio-alt flex-grow-1 d-flex flex-column">
                            <h2 class="font-weight-bold display-5 pb-12">Front-end</h2>
                            <ul class="list-unstyled">
                                <li>HTML5 (Avançado)</li>
                                <li>CSS3 (Avançado)</li>
                                <li>Bootstrap (Avançado)</li>
                                <li>JavaScript (Intermediário)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm d-flex flex-column mr-5 ml-5" id="container-cards">
                    <div class="wrapper-container d-flex flex-column h-100">
                        <div class="wrapper-bio-alt flex-grow-1 d-flex flex-column">
                            <h2 class="font-weight-bold display-5 pb-12">Back-end & Mobile</h2>
                                <ul class="list-unstyled">
                                    <li>PHP (Intermediário)</li>
                                    <li>Dart/Flutter (Intermediário)</li>
                                    <li>MySQL (Intermediário)</li>
                                </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm d-flex flex-column" id="container-cards">
                    <div class="wrapper-container flex-column h-100">
                        <div class="wrapper-bio-alt flex-grow-1 d-flex flex-column">
                            <h2 class="font-weight-bold display-5 pb-12">Complementares</h2>
                            <ul class="list-unstyled">
                                <li>Python (Django básico)</li>
                                <li>C (Básico)</li>
                                <li>Java (Básico)</li>
                                <li>Git/GitHub</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm d-flex flex-column" id="container-cards">
                    <div class="wrapper-container d-flex flex-column h-100">
                        <div class="wrapper-bio-alt flex-grow-1 d-flex flex-column">
                            <h2 class="font-weight-bold display-5 pb-12">Soft Skils</h2>
                            <ul class="list-unstyled">
                                <li>Inglês Avançado</li>
                                <li>Facilidade em se comunicar</li>
                                <li>Acostumado com resolução de problemas</li>
                                <li>Familiar com trabalho em equipe</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Sobre Mim -->
    <section id="sobre" class="py-5">
        <div class="container-fluid">
            <h2 class="section-title text-center display-3">Sobre mim</h2>
            <div class="row">
                <div class="col-lg-6 text-center d-flex justify-content-center align-items-center p-5">
                    <div class="foto-wrapper d-flex">
                        <img src="/static/imgs/theo.jpeg" alt="theo" id="img-theo"/>
                    </div>
                </div>
                <div class="col-lg-6 text-center justify-content-center align-items-center p-5" id="sobre-mim">
                    <h2 class="titulo-sobremim">Freelance Web Designer & Developer</h2>
                    <p class="paragrafo-sobremim">
                        Sou um profissional da área de desenvolvimento de software com experiência diversificada em projetos web e mobile.
                        Já trabalhei com linguagens como Python (Django), PHP, JavaScript, Dart (Flutter) e Java, aplicando-as em diferentes contextos, 
                        mas sem especialização profunda em nenhuma delas.
                        Meu foco está na construção de soluções funcionais e escaláveis, sempre buscando aprimoramento contínuo.
                        Atualmente, curso Análise e Desenvolvimento de Sistemas na FATEC Ourinhos e concluí minha formação técnica pela ETEC Ourinhos. 
                        Tenho experiência com projetos freelancer em web design e responsividade, explorando boas práticas para criar interfaces intuitivas e eficientes.<br /><br />

                        🚀 O que me diferencia?<br />
                        ✔️ Conhecimento amplo em diversas tecnologias, com flexibilidade para aprendizado contínuo<br />
                        ✔️ Capacidade de adaptar soluções conforme as necessidades do projeto<br />
                        ✔️ Experiência em bancos de dados relacionais (MySQL)<br />
                        ✔️ Inglês avançado e comunicação eficaz em equipes multidisciplinares<br /><br />

                        📌 Tecnologias: PHP | JavaScript | Flutter | Bootstrap | MySQL<br />
                        📌 Interesses: Desenvolvimento Full Stack | UX/UI | Aplicações Escaláveis | Mobile Development<br /><br />
                    </p>
                    <a href="#" class="contact-me text-center">Contate-me! -></a>
            </div>
        </div>
    </section>

    <!-- Projetos -->
    <section id="projetos" class="py-5">
        <div class="container">
            <h2 class="section-title text-center display-3">Projetos</h2>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Web design do site: cal.fraguismo.org</h5>
                            <p class="card-text">Desenvolvi o design e a responsividade do site utilizando HTML5, CSS3 e Bootstrap, com versionamento no GitHub.<br /><br /></p>
                            <a href="https://cal.fraguismo.org/" target="_blank" class="btn btn-primary">Ver Projeto</a>
                        </div>
                    </div>
                </div>
                <!-- Adicione mais projetos aqui conforme necessário -->
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">PawFolio</h5>
                            <p class="card-text">
                                Um sistema web responsável por agendamentos de serviços pet's, onde os petshop's 
                                podem se cadastrar e oferecer diversos serviços. Cada cliente pode cadastrar seus pet's no sistema, dando
                                credenciais como: Comportamento, raça e idade.
                            </p>
                            <a href="https://github.com/TheoTavora/ProjetoPawFolio" target="_blank" class="btn btn-primary">Ver Projeto</a>
                        </div>
                    </div>
                </div>
                <div class="container-fluid d-flex align-items-center justify-content-center">
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Web design do site: novo.fraguismo.org</h5>
                            <p class="card-text">Desenvolvi o design e a responsividade do site utilizando HTML5, CSS3 e Bootstrap, com versionamento no GitHub.<br /><br /></p>
                            <a href="https://novo.fraguismo.org/" target="_blank" class="btn btn-primary">Ver Projeto</a>
                        </div>
                    </div>
                </div>
            </div>
                <!--
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Aplicativo em Flutter: GreatMP3</h5>
                            <p class="card-text">Criei este aplicativo que é capaz de transformar links de videos do youtube .mp4 em áudios .mp3. Útil para ouvir músicas offline!<br /><br /></p>
                            <a href="https://novo.fraguismo.org/" target="_blank" class="btn btn-primary">Ver Projeto</a>
                        </div>
                    </div>
                </div>
            -->
            </div>
        </div>
    </section>

    <!-- Tags infinitas -->
    <div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="tag-list-scroll">
            <div class="inner-scroll">
                <div class="tag"><span>#</span>HTML5</div>
                <div class="tag"><span>#</span>CSS3</div>
                <div class="tag"><span>#</span>PHP</div>
                <div class="tag"><span>#</span>FLUTTER</div>
                <div class="tag"><span>#</span>BOOTSTRAP</div>
                <div class="tag"><span>#</span>UI/UX</div>
                <div class="tag"><span>#</span>WEB DESIGN</div>
                <!--Duplicação para efeito de infinidade-->
                <div class="tag"><span>#</span>HTML5</div>
                <div class="tag"><span>#</span>CSS3</div>
                <div class="tag"><span>#</span>PHP</div>
                <div class="tag"><span>#</span>FLUTTER</div>
                <div class="tag"><span>#</span>BOOTSTRAP</div>
                <div class="tag"><span>#</span>UI/UX</div>
                <div class="tag"><span>#</span>WEB DESIGN</div>
            </div>
            <div class="fading-transition"></div>
        </div>
    </div>

    <a href="https://api.whatsapp.com/send?phone=14996897996" class="whatsapp-btn"><i class="fab fa-whatsapp"></i></a>

    <!-- Footer -->
    <footer class="text-center text-lg-start" style="background-color: #27313f" id="footer">
          <div class="container d-flex flex-column justify-content-center align-items-center text-center py-5">
            <div class="container mb-5">
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;" onclick="window.location.href='https://www.linkedin.com/in/theotavora/'">
                    <i class="fab fa-linkedin"></i>
                </button>
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;" onclick="window.location.href='https://www.instagram.com/_theotavora/'">
                    <i class="fab fa-instagram"></i>
                </button>
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;" onclick="window.location.href='https://github.com/TheoTavora'">
                    <i class="fab fa-github"></i>
                </button>
            </div>
                <div class="col-md-6 mx-auto text-center">
                    <p><strong>E-mail:</strong> theovannitavora@gmail.com</p>
                    <p><strong>Celular:</strong> (14) 99689-7996</p>
                    <p>Entre em contato comigo para colaborações ou oportunidades!</p>
                </div>
               
          </div>
      
          <!-- Copyright -->
          <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Portfólio
            <a class="text-white" href="#sobre">Théo Tavora</a>
          </div>
          <!-- Copyright -->
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>